doctype html
html(lang='en')
    head
        title= title_value
        //link(href='https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css', rel='stylesheet')
        //link(href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css', rel='stylesheet')
        link(href='/styles/jquery-ui/bootstrap/bootstrap.min.css', rel='stylesheet')
        link(href='/styles/jquery-ui/themes/smoothness/jquery-ui.min.css', rel='stylesheet')
        link(href='/styles/console.css', rel='stylesheet')
    body
        //include endpoints-table-layout.html
        //include add-endpoint-layout.html
        //include show-endpoint-layout.html
        p
            br
        .container
            br
            p
                button#add-endpoint.btn.btn-primary(type='button')
                    |                 Add endpoint
            br
            div#endpoints-table

            #endpoint-form-dialog.dialog-div(title='Endpoint')

            #info-dialog(title='Info').dialog-div
                p.
                    Some information.

            #confirm-dialog(title='Confirm your action').dialog-div
                p.
                    Configmation message.

        //script(src='https://code.jquery.com/jquery-1.10.2.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/js/bootstrap.min.js')
        //script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js')
        //script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js')

        script(src='/js/lib/jquery.min.js')
        script(src='/js/lib/jquery-ui/bootstrap/bootstrap.min.js')
        script(src='/js/lib/jquery-ui/jquery-ui.min.js')
        script(src='/js/lib/underscore-min.js')
        script(src='/js/lib/moment.min.js')
        script(src='/js/lib/moment-duration-format.js')
        script(src='/js/lib/handlebars.min.js')
        script(src='/js/lib/jquery.validate.min.js')
        script(src='/js/lib/backbone-min.js')
        script(src='/js/templates/templates.js')
        script(src='/js/main.js')