<div id="history-panel">
    <div id="history-controls">
        <div class="history-time-range">Time range: <span id="history-time"></span></div>
        <div class="history-nav">
            <div>Step</div>
            <select id="history-time-step">
                <option value="1" selected="selected">1 day</option>
                <option value="7">1 week</option>
                <option value="30">1 month</option>
            </select>
            <div title="Move back">
                <button id="history-control-rw">&#9664;</button>
            </div>
            <div title="Move forward">
                <button id="history-control-ff">&#9654;</button>
            </div>
        </div>
    </div>
    <div id="history-chart-container">
    </div>
</div>