<div id="history-panel">
    <div id="history-controls">
        <div class="history-time-range">Time range: <span id="history-time"></span></div>
        <div class="history-nav">
            <select id="history-time-step">
                <option value="1" selected="selected">1 day</option>
                <option value="7">1 week</option>
                <option value="30">1 month</option>
            </select>
            <button id="history-control-rw">&lt;&lt;</button>
            <button id="history-control-ff">&gt;&gt;</button>
        </div>
    </div>
    <div id="history-chart-container">
    </div>
</div>